pydantic
pydantic-settings
pydantic[email]
python-dotenv
langchain
langgraph<0.3.0
openai
pandas
numpy
fastapi
mlflow
databricks-langchain
databricks-agents
databricks-sdk
unitycatalog-langchain[databricks]
databricks-connect
pyspark
notebook
ipykernel
pydub